<div class="modal-header">
    <h3 class="modal-title">添加图片</h3>
</div>

<div class="modal-body">
    <div class="form-group bs-example form-horizontal ng-valid ng-dirty">
    	<label class="col-lg-2 control-label redstar">年</label>
    	<div class="col-lg-4">
    		<input type="number" class="form-control" ng-model="picture.year" required >
    	</div>
    	<br>
    </div>
    <br>
    
    <div class="form-group bs-example form-horizontal ng-valid ng-dirty">
    	<label class="col-lg-2 control-label redstar">月</label>
    	<div class="col-lg-4">
    		<input type="number" class="form-control" ng-model="picture.month" required >
    	</div>
    	<br>
    </div>
    <br>
    
    <div class="form-group bs-example form-horizontal ng-valid ng-dirty">
    	<label class="col-lg-2 control-label redstar">日</label>
    	<div class="col-lg-4">
    		<input type="number" class="form-control" ng-model="picture.day" required >
    	</div>
    	<br>
    </div>
    <br>
    
    <div class="form-group">
        <div ng-controller="FileUploadCtrl" nv-file-drop="" uploader="uploader"
             filters="imageFilter, customFilter">
            <div class="col-lg-6 ">
                <input type="file" nv-file-select="" uploader="uploader"/>
            </div>
            <div class="col-lg-6">
                <table class="table">
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="uploadImg(item)"
                                    ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> 上传图片
                            </button>
                        </td>
                    </tr>
                </table>
            </div><!-- 图片选择表单 -->
        </div>
    </div>
    <br>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="false">确定</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>